Ultrasound_videos/Ultrasound_Scanning_Supplementary_Video/frames/convert_mp42jpg.txt
*.mp4
*.csv
*.jpg
*.png
*.zip
*.txt
*.avi
Ultrasound_Scanning_Supplementary_Video/frames/dataset/data.yaml
Ultrasound_Scanning_Supplementary_Video/frames/dataset/obj.data
Ultrasound_Scanning_Supplementary_Video/frames/dataset/obj.names
Ultrasound_Scanning_Supplementary_Video/frames/dataset/train/labels.cache
Ultrasound_Scanning_Supplementary_Video/frames/dataset_human/data.yaml
Ultrasound_Scanning_Supplementary_Video/frames/dataset_human/obj.data
Ultrasound_Scanning_Supplementary_Video/frames/dataset_human/obj.names
Ultrasound_Scanning_Supplementary_Video/frames/dataset_human/train/labels.cache
Ultrasound_Scanning_Supplementary_Video/frames/Prior_Scan_zoom_label/obj.data
Ultrasound_Scanning_Supplementary_Video/frames/Prior_Scan_zoom_label/obj.names
Ultrasound_Scanning_Supplementary_Video/frames/prior_scan_zoom_label_v2/obj.data
Ultrasound_Scanning_Supplementary_Video/frames/prior_scan_zoom_label_v2/obj.names
Ultrasound_Scanning_Supplementary_Video/frames/runs/detect/train/args.yaml
Ultrasound_Scanning_Supplementary_Video/frames/runs/detect/train/weights/best.pt
Ultrasound_Scanning_Supplementary_Video/frames/runs/detect/train/weights/last.pt
Ultrasound_Scanning_Supplementary_Video/frames/runs/detect/train4/args.yaml
Ultrasound_Scanning_Supplementary_Video/frames/runs/detect/train4/weights/best.pt
Ultrasound_Scanning_Supplementary_Video/frames/runs/detect/train4/weights/last.pt
Ultrasound_Scanning_Supplementary_Video/frames/Smooth_Scan_zoom_v3_label/obj.data
Ultrasound_Scanning_Supplementary_Video/frames/Smooth_Scan_zoom_v3_label/obj.names
human_test_results/Process_Data/Data_P_Human_Throat_US/selected_images/human_data_label_v3/obj.data
human_test_results/Process_Data/Data_P_Human_Throat_US/selected_images/human_data_label_v3/obj.names
human_test_results/data_collect-1215/weq/20251215170436/Thumbs.db
.gitignore
